<h1> Listing Users </h1>

<h2><%= link_to "Find User", find_user_path %></h2>
<h2><%= link_to "Add User", add_user_path %></h2>

<table>
    <thead>
        <tr>
            <th> Id </th>
            <th> Name </th>
            <th> Pincode </th>
        </tr>
    </thead>
    <tbody>
        <% if @users %>
          <% @users.each do |user| %>
            <tr>
                <td> <%= user.id %> </td>
                <td> <%= user.name %> </td>
                <td> <%= user.pincode %> </td>
            </tr>
          <% end %>
        <% end %>
    </tbody>
</table>